{% extends "base.html" %}
{% block title %}{{post.title}} | Pinboard {% endblock %}

{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

<div class="row content">
    <div class="col-6">
        <h5><b>PINBOARD</b></h5>
    </div>
    <div class="col-6 text-right">
        <h5><a class="btn" href="{% url 'pinboard_post' %}">&#9675; <b>Create</b> post for the pinboard</a></h5>
    </div>
</div>
<div>
<nav class="tabs text-uppercase is-full">
    <a class="{% if request.path == '/pinboard/' %}active{% endif %}" href="{% url 'pinboard_list' %}">All</a>
    {% for pinboard_categories in pinboard_categories %}
    <a class="{% if request.path == '/pinboard/category/{{ pinboard_categories }}' %}active{% endif %}" href="/pinboard/category/{{ pinboard_categories }}">{{ pinboard_categories }}</a>
    {% endfor %}
</nav>
</div>
<div class="row content">
        <div class="col-2"></div>
        <div class="col-8 pinboard-post-card">
            <div class="is-center"><h1>&#9675;</h1></div>
            <br/>
            <h3>{{ post.title }}</h3>
            <small>Posted {{ post.created_at|timesince }} ago</small><br/><br/>
            <p class="text-uppercase">{{ post.get_category_display }}</p><br/>
	    <p>{{ post.description|linebreaksbr }}</p><br/>
            <p>{{ post.location }}</p><br/>
            <p>{{ post.contact_information }}</p><br/>
            <a target="_blank" href="{{ post.images.all.0.image.url }}"><p>&#128206; Click here to open image attachment</p></a>
        </div>
        <div class="col-2"></div>
</div>

{% endblock content %}
