{% load static wagtailcore_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}{% if title %}{{ title }}{% endif %}{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}{% endblock %}{% block title_suffix %}{% wagtail_site as current_site %}{% if current_site and current_site.site_name %} | {{ current_site.site_name }}{% endif %}{% endblock %}
        </title>
        {% if page.search_description %}
        <meta name="description" content="{{ page.search_description }}" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}
        <base target="_blank">
        {% endif %}

        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}
        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/chota.css' %}">
	    <link rel="stylesheet" type="text/css" href="{% static 'css/primordialsoup.css' %}">

        <link rel="shortcut icon" type="image/png" href="{% static 'image/favicon.png' %}"/>
    </head>

    <body onload="startTime()" class="{% block body_class %}{% endblock %}">
        
<div class="mobile-top-section">        
<header class="row">
            <div class="col-9">
                     <a href="/">
                        <div class="rain-body">
                            <div class="rain-container">
                                    <div class="rain">
                                        <div class="drop"></div>
                                        <div class="waves">
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="splash"></div>
                                        <div class="particles">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>

                                    <div class="rain">
                                        <div class="drop"></div>
                                        <div class="waves">
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="splash"></div>
                                        <div class="particles">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>

                                    <div class="rain">
                                        <div class="drop"></div>
                                        <div class="waves">
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="splash"></div>
                                        <div class="particles">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>

                                    <div class="rain">
                                        <div class="drop"></div>
                                        <div class="waves">
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="splash"></div>
                                        <div class="particles">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>

                                    <div class="rain">
                                        <div class="drop"></div>
                                        <div class="waves">
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="splash"></div>
                                        <div class="particles">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>

                                    <div class="rain">
                                        <div class="drop"></div>
                                        <div class="waves">
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="splash"></div>
                                        <div class="particles">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>

                                    <div class="rain">
                                        <div class="drop"></div>
                                        <div class="waves">
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="splash"></div>
                                        <div class="particles">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>

                                    <div class="rain">
                                        <div class="drop"></div>
                                        <div class="waves">
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="splash"></div>
                                        <div class="particles">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>

                                    <div class="rain">
                                        <div class="drop"></div>
                                        <div class="waves">
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="splash"></div>
                                        <div class="particles">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                     </a>
            </div>
            <div class="col-3 text-right">
                    {% if settings.HEADER_TEXT %}
                    <a href="/about"><h3 class="header-text">{{ settings.HEADER_TEXT }}</h3></a>
                    {% endif %}
                    <br/>
                    <a href="/search">
                        <p><b>SEARCH</b></p>
                        <hr/>
                    </a>
                    <a href="javascript:void(0);" class="mode-btn"><small>Switch color mode</small></a>
            </div>
        </header>

        <hr/>

        <nav class="nav-map">
            <a href="{% url 'event_map' %}">
                <div class="map-circle">
                    <span class="text-uppercase">map</span></br>
                </div>
            </a>
        </nav>
        <nav class="row nav-left main">
            <div class="col-6 link">
                <a href="{% url 'exhibition_list' %}">archive</a>                
            </div>
            <div class="col-6 text-right link">
                <a href="{% url 'exhibition_submission_create' %}">create</a>                
            </div>
        </nav>

        <hr/>

        <nav class="row nav-left main">
            <div class="col-6 link">
                <a href="{% url 'event_list' %}">events</a>                
            </div>
            <div class="col-6 text-right link">
                <a href="{% url 'calendar_submission_create' %}">create</a>                
            </div>
        </nav>
        <hr/>
</div>

<div class="desktop-nav-section">
    <div class="row">
        <div class="col-12">
                 <a href="/">
            <div class="rain-body">
                <div class="rain-container">
                        <div class="rain">
                            <div class="drop"></div>
                            <div class="waves">
                                <div></div>
                                <div></div>
                            </div>
                            <div class="splash"></div>
                            <div class="particles">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>

                        <div class="rain">
                            <div class="drop"></div>
                            <div class="waves">
                                <div></div>
                                <div></div>
                            </div>
                            <div class="splash"></div>
                            <div class="particles">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>

                        <div class="rain">
                            <div class="drop"></div>
                            <div class="waves">
                                <div></div>
                                <div></div>
                            </div>
                            <div class="splash"></div>
                            <div class="particles">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>

                        <div class="rain">
                            <div class="drop"></div>
                            <div class="waves">
                                <div></div>
                                <div></div>
                            </div>
                            <div class="splash"></div>
                            <div class="particles">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>

                        <div class="rain">
                            <div class="drop"></div>
                            <div class="waves">
                                <div></div>
                                <div></div>
                            </div>
                            <div class="splash"></div>
                            <div class="particles">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>

                        <div class="rain">
                            <div class="drop"></div>
                            <div class="waves">
                                <div></div>
                                <div></div>
                            </div>
                            <div class="splash"></div>
                            <div class="particles">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>

                        <div class="rain">
                            <div class="drop"></div>
                            <div class="waves">
                                <div></div>
                                <div></div>
                            </div>
                            <div class="splash"></div>
                            <div class="particles">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>

                        <div class="rain">
                            <div class="drop"></div>
                            <div class="waves">
                                <div></div>
                                <div></div>
                            </div>
                            <div class="splash"></div>
                            <div class="particles">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>

                        <div class="rain">
                            <div class="drop"></div>
                            <div class="waves">
                                <div></div>
                                <div></div>
                            </div>
                            <div class="splash"></div>
                            <div class="particles">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                </div>
            </div>
         </a>
        </div>
    </div>

    {% if settings.HEADER_TEXT %}
    <a href="/about"><p class="header-text">{{ settings.HEADER_TEXT }}</p></a>
    {% endif %}
    <br/>

    <a href="javascript:void(0);" class="mode-btn"><small>Switch color mode</small></a>

    <hr>

    <nav>
        <ul class="row">
            <span class="col-6">
                <a href="{% url 'event_list' %}"><h5>EVENTS</h5></a>
            </span>
            <span class="col-6">
                <a href="{% url 'calendar_submission_create' %}"><li>CREATE</li></a>
                <a href="{% url 'event_map' %}"><li>MAP</li></a>
                <a href="{% url 'event_list' %}"><li>LIST</li></a>
            </span>
        </ul>
        <ul class="row">
            <span class="col-6">
                <a href="{% url 'exhibition_list' %}"><h5>ARCHIVE</h5></a>
            </span>
            <span class="col-6">
                <a href="{% url 'exhibition_submission_create' %}"><li>CREATE</li></a>
                <a href="{% url 'exhibition_list_highlights' %}"><li>HIGHLIGHTS</li></a>
                <a href="{% url 'exhibition_list' %}"><li>LIST</li></a>
            </span>
        </ul>
        <ul class="row">
            <span class="col-6">
                <h5>CATALOG</h5>
            </span>
            <span class="col-6">
                <a href="{% url 'list_current_artists' %}"><li>ARTISTS</li></a>
                <a href="{% url 'list_current_curators' %}"><li>CURATORS</li></a>
                <a href="{% url 'list_photographers' %}"><li>PHOTOGRAPHERS</li></a>
                <a href="{% url 'list_current_locations' %}"><li>LOCATIONS</li></a>
            </span>
        </ul>
        <ul class="row">
            <span class="col-6">
                <a href="{% url 'pinboard_list' %}"><h5>PINBOARD</h5></a>
            </span>
            <span class="col-6">
                <a href="{% url 'pinboard_post' %}"><li>CREATE</li></a>
                <a href="{% url 'pinboard_list' %}"><li>LIST</li></a>
            </span>
        </ul>
        <ul class="row">
            <span class="col-6">
            <a href="/about"><h5>ABOUT</h5></a>
            </span>
            <span class="col-6"></span>
        </ul>
    </nav>

    <div class="search">
        <a href="/search">
            <p><b>SEARCH</b></p>
            <hr/>
        </a>
    </div>

</div>

<div class="main-section">
    {% include 'messages.html' %}

    {% block content %}{% endblock %}

    {# Global javascript #}
    <script type="text/javascript" src="{% static 'js/primordialsoup.js' %}"></script>

    {% block extra_js %}
    {# Override this in templates to add extra javascript #}
    {% endblock %}
    
    <div class="desktop-footer-nav-section">
        <hr/>

        <nav class="row nav-left footer">
                <a href="{% url 'list_current_artists' %}">artists</a>
                <a href="{% url 'list_current_curators' %}">curators</a>
                <a href="{% url 'list_photographers' %}">photographers</a>
                <a href="{% url 'list_current_locations' %}">locations</a>
                <a href="{% url 'pinboard_list' %}">pinboard</a>
                <a href="/about">about</a>
        </nav>
    </div>

    <hr/>

    <footer class="row">
        <div class="col-4">
            {% now 'Y' %} {{ settings.SITE_NAME }}. Licenses: CNPLv7<br/><br/>
        </div>
        <div class="col-4 text-center">
            {% now "M d" %} <span id="time"></span>
            <br/>
            {% if settings.FOOTER_TEXT %}
            <br/><p class="text-center"><small>{{ settings.FOOTER_TEXT }}</small></p><br/>
            {% endif %}
        </div>
        <div class="col-4 text-right">
            <a target="_blank" href="{{ settings.SOCIAL_MEDIA_URL }}">{{ settings.SOCIAL_MEDIA }}</a>
        </div>
    </footer>
</div>
    </body>
</html>
