{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}{% if title %}{{ title }}{% endif %}{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}{% endblock %}{% block title_suffix %}{% wagtail_site as current_site %}{% if current_site and current_site.site_name %} | {{ current_site.site_name }}{% endif %}{% endblock %}
        </title>
        {% if page.search_description %}
        <meta name="description" content="{{ page.search_description }}" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}
        <base target="_blank">
        {% endif %}

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/chota.css' %}">
	    <link rel="stylesheet" type="text/css" href="{% static 'css/primordialsoup.css' %}">
        <!-- leaflet.js stylesheet -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
        <link rel="stylesheet" href="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.css"/>
        <!-- leaflet.js markerclustering stylesheet -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css" />

        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        <link rel="shortcut icon" type="image/png" href="{% static 'image/favicon.png' %}"/>
    </head>

    <body onload="startTime()">
        {% wagtailuserbar %}

        <header class="row">
            <div class="col-9">
                     <a href="/">
                        <div class="rain-body">
                            <div class="rain-container">
                                    <div class="rain">
                                        <div class="drop"></div>
                                        <div class="waves">
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="splash"></div>
                                        <div class="particles">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>

                                    <div class="rain">
                                        <div class="drop"></div>
                                        <div class="waves">
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="splash"></div>
                                        <div class="particles">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>

                                    <div class="rain">
                                        <div class="drop"></div>
                                        <div class="waves">
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="splash"></div>
                                        <div class="particles">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>

                                    <div class="rain">
                                        <div class="drop"></div>
                                        <div class="waves">
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="splash"></div>
                                        <div class="particles">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>

                                    <div class="rain">
                                        <div class="drop"></div>
                                        <div class="waves">
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="splash"></div>
                                        <div class="particles">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>

                                    <div class="rain">
                                        <div class="drop"></div>
                                        <div class="waves">
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="splash"></div>
                                        <div class="particles">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>

                                    <div class="rain">
                                        <div class="drop"></div>
                                        <div class="waves">
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="splash"></div>
                                        <div class="particles">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>

                                    <div class="rain">
                                        <div class="drop"></div>
                                        <div class="waves">
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="splash"></div>
                                        <div class="particles">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>

                                    <div class="rain">
                                        <div class="drop"></div>
                                        <div class="waves">
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="splash"></div>
                                        <div class="particles">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <!-- <img src="{% static 'svg/ursuppe-3-fill.svg' %}" /> -->
                     </a>
            </div>
            <div class="col-3 text-right">
                    {% if settings.HEADER_TEXT %}
                    <a href="/about"><p>{{ settings.HEADER_TEXT }}</p></a>
                    {% endif %}
                    <br/>
                    <a href="/search">
                        <p><b>SEARCH</b></p>
                        <hr/>
                    </a>
                    <a href="#" class="darkmode-btn"><small>Toggle darkmode</small></a>
            </div>
        </header>

        <hr/>

        <nav class="row nav-left main">
            <div class="col-6">
                <a href="{% url 'exhibition_list' %}">archive</a>                
            </div>
            <div class="col-6 text-right">
                <a href="{% url 'exhibition_submission_create' %}">create</a>                
            </div>
        </nav>

        <hr/>

        <nav class="row nav-left main">
            <div class="col-6">
                <a href="{% url 'event_list' %}">events</a>                
            </div>
            <div class="col-6 text-right">
                <a href="{% url 'calendar_submission_create' %}">create</a>                
            </div>
        </nav>

        <hr/>

        {% include 'messages.html' %}

        <a href="{% url 'event_map' %}">
            <div class='circle-multiline'>
            <span class="text-uppercase">map</span></br>
            </div>
        </a>
        {% block content %}{% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/primordialsoup.js' %}"></script>
        <!-- leaflet.js MUST be loaded before local map, else 'L' is not defined -->
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
        <!-- leaflet.markercluster.js -->
        <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
        <!-- local map.js -->
        <script type="text/javascript" src="{% static 'js/map.js' %}"></script>

        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock %}


        <nav class="row nav-left footer">
                <a href="{% url 'list_current_artists' %}">artists</a>
                <a href="{% url 'list_current_curators' %}">curators</a>
                <a href="{% url 'list_current_locations' %}">locations</a>
                <a href="{% url 'pinboard_list' %}">pinboard</a>
                <a href="/about">about</a>
        </nav>

        <hr/>

        <footer class="row">
            <div class="col-4">
                {% now 'Y' %} {{ settings.SITE_NAME }}. Licenses: CNPLv7<br/><br/>
            </div>
            <div class="col-4 text-center">
                {% now "M d" %} <span id="time"></span>
                <br/>
                {% if settings.FOOTER_TEXT %}
                <br/><p class="text-center"><small>{{ settings.FOOTER_TEXT }}</small></p><br/>
                {% endif %}
            </div>
            <div class="col-4 text-right">
                <a target="_blank" href="{{ settings.SOCIAL_MEDIA_URL }}">{{ settings.SOCIAL_MEDIA }}</a>
            </div>
        </footer>
    </body>
</html>
