{% extends "base.html" %}
{% block title %} Highlights {% endblock %}

{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

<div class="row content">
    <a href="{% url 'event_map' %}">
        <div class='circle-multiline'>
        <span class="text-uppercase">map</span></br>
        </div>
    </a>
    <div class="col-9">
        <h5><b>ARCHIVE HIGHLIGHTS</b></h5>
        <small>Sorted by end date</small>
        <br/><br/>
        {% for submission in highlighted_submissions %}
        <a href="{% url 'exhibition_submission_detail' submission_id=submission.id submission_project_title=submission.slug %}">
            <!-- <p>Artists: {{ submission.artists }}</p>
            <p>Curators: {{ submission.curators }}</p>
            <p>Location: {{ submission.location }}</p>
            <p>Link to Location: <a href="{{ submission.link_to_location }}">{{ submission.link_to_location }}</a></p>
            <p>Exhibition Opening: {{ submission.exhibition_opening }}</p>
            <p>Exhibition End: {{ submission.exhibition_end }}</p>
            <p>Description: {{ submission.description }}</p>
            <p>Text Author: {{ submission.text_author }}</p>
            <p>Photographer: {{ submission.photographer }}</p>
            <p>Link to Video: <a href="{{ submission.link_to_video }}">{{ submission.link_to_video }}</a></p>
            <p>Social Media Info: {{ submission.social_media_info }}</p>
            <p>Email: {{ submission.email }}</p>
            <p>Consent to Collect Info: {{ submission.get_consent_to_collect_info_display }}</p>
            <p>Highlight: {{ submission.highlight }}</p> -->
            <!-- Add other fields as needed -->

            <!-- Display existing images for the exhibition -->
            <div class="image-container-list">
            {% for image in submission.images.all %}
                {% if image.cover_image %} 
                <img class="submission-image-list" src="{{ image.image.url }}" alt="{{ image.image.caption }}">
                {% endif %}
            {% endfor %}
            </div>
            <small>
                <b>{{ submission.project_title }}</b>, {{ submission.artists }}, {{ submission.exhibition_opening }}
            </small>
        </a>
        <br/><br/>
        {% endfor %}
    </div>

    <div class="col-3 text-center events-highlight">
        <div class="text-left">
            <h5><b>EVENT HIGHLIGHTS</b></h5>
            <small>Current and upcoming</small>
            <br/><br/>
        </div>
            <!-- calendar highlights goes here -->
            {% for event_submission in highlighted_event_submissions %}
            <a class="event_project_title_link" href="{% url 'event_detail' event_id=event_submission.id event_project_title=event_submission.slug %}">
                <div class="events-highlight-card">
                    <p>{{ event_submission.artists }}</p>
                        <h2 class="text-uppercase is-large event_project_title">{{ event_submission.project_title }}</h2>
                    <p><small>{{ event_submission.event_type }}</small></p>
                    <br/>
                    <p>Curated by {{ event_submission.curators }}</p>
                    <br/>
                    <h4>{{ event_submission.exhibition_opening }} – {{ event_submission.exhibition_end }}</h4>
                    <br/>
                    <h4>{{ event_submission.location }}</h4>
                    <p><small>{{ event_submission.location_address }}</small></p>
                </div>
            </a>
            {% endfor %}
    </div>
</div>
{% endblock content %}

