<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
             Text  | ursuppe
        </title>

        <meta name="viewport" content="width=device-width, initial-scale=1" />



	<meta http-equiv="refresh" content="120; URL=/text-solidarity">


        <link rel="stylesheet" type="text/css" href="/static/css/chota.css">
        <link rel="stylesheet" type="text/css" href="/static/css/primordialsoup.css">


        <link rel="shortcut icon" type="image/png" href="/static/image/favicon.png"/>
    </head>

    <body>
        <div class="row content">
            <div class="col-12">
                <br>
            </div>
        </div>
        <center>
            <img style="width: 85%; margin-top:0px; margin-bottom: 30px;" class="text-center is-center" src="/static/image/bitmaphigh-line.png" />
            <p>fig. 1 diagram</p>
        </center>
        <div class="row content">
            <div class="col-1"></div>
            <div class="col-10" style="font-size: 13px;">
                <br/><br/>
<h1><i>When someone you love is sick,<br/>you do what you can to help them thrive.</i></h1>

<h2>Network</h2>
<br/>
<p style="font-size: larger;">The illustration (fig. 1) is a diagram of the reconfigured computer network belonging to the Funen Art Academy acting as a temporary data center.</p>
<br/>
<p style="font-size: larger;">The web application ursuppe.dk (5.186.82.172) can be accessed with your device from any location (WAN/world). From there you will be routed into the academy's computer network (LAN/Funen Art Academy) behind the walls of Jernbanegade 13. From the local network (LAN/Funen Art Academy) you are routed further to the ursuppe server (172.16.1.11), which is located within the medicine cabinet mounted on the wall in the academy's sculpture hall. You are now behind the frosted glass of the medicine cabinet along with its empty vials and shelves.</p>
<br/>
<h2>Purpose</h2>    
<br/>
<p style="font-size: larger;">ursuppe.dk is a platform cooperative and an open source web application written to solve a specific issue. Its purpose is to reclaim the dissemination of press material from the established contemporary arts media in Denmark and put control in the hands of the artists themselves. As a visitor, you can access ursuppe.dk anywhere, mind you, when the institution's electricity is turned on. Here you will find an archive of photo documentation and an events calendar with an interactive map.</p>
<br/>
<p style="font-size: larger;"><i>Last edited Sat April 22 17:05:02 2024</i></p>


</div>
            <div class="col-1"></div>

    </body>
</html>

