<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
             Solidarity message  | ursuppe
        </title>

        <meta name="viewport" content="width=device-width, initial-scale=1" />



    <meta http-equiv="refresh" content="30; URL=/soup-auto">


        <link rel="stylesheet" type="text/css" href="/static/css/chota.css">
        <link rel="stylesheet" type="text/css" href="/static/css/primordialsoup.css">


        <link rel="shortcut icon" type="image/png" href="/static/image/favicon.png"/>
    </head>

    <body>
        <div class="row content">
            <div class="col-12">
                <br>
            </div>
        </div>
        <center>
		<br/>
		<img style="width: 85%; margin-top:0px; margin-bottom: 30px;" class="text-center is-center" src="/static/image/watermelon-abstract.png" />
            <p>fig. 2 watermelon</p>
        </center>
        <div class="row content">
            <div class="col-1"></div>
            <div class="col-10" style="font-size: 13px;">
                <br/><br/>

<h2>Solidarity statement (free Palestine)</h2>
<br/>
<p style="font-size: larger;">ursuppe is a political platform and want to stand clear with our solidarity for Palestine and the Palestinians as well as condemning other forms of oppression and occupations of imperialist violence. Ceasefire now. End the occupations. Free Palestine.</p>
<br/>
<p style="font-size: larger;"><i>Last edited Sat April 22 17:05:02 2024</i></p>


</div>
            <div class="col-1"></div>

    </body>
</html>

