<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
             Text  | ursuppe
        </title>

        <meta name="viewport" content="width=device-width, initial-scale=1" />



	<meta http-equiv="refresh" content="120; URL=/soup-auto">


        <link rel="stylesheet" type="text/css" href="/static/css/chota.css">
        <link rel="stylesheet" type="text/css" href="/static/css/primordialsoup.css">

        <style>
            body {
                font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace !important;
            }
        </style>



        <link rel="shortcut icon" type="image/png" href="/static/image/favicon.png"/>
    </head>

    <body>
        <div class="row content">
            <div class="col-1"></div>
            <div class="col-10" style="font-size: 14px; margin-top:30px;">
                <h4><i>‡ When someone you love is sick, you do what you can to help them thrive.</i><br/>
                    <b>ursuppe.dk wiki excerpt</b>
                    <br/><br/></h4>
            </div>
            <div class="col-1"></div>
        </div>
        <center>
            <img style="width: 65%; margin-top:0px; margin-bottom: 30px;" class="text-center is-center" src="/static/image/bitmaphigh-line.png" />
            ¶
        </center>
        <div class="row content">
            <div class="col-1"></div>
            <div class="col-10" style="font-size: 13px;">
<h4>Network<br/><br/></h4>
<p>¶ The illustration is a simplified diagram of the reconfigured computer network belonging to the Funen Art Academy acting as a temporary data center.<br/><br/></p>

<p>From your arbitrary location (WAN/world) you can access ursuppe.dk* (5.186.82.172) with your device. You are routed into the academy's computer network and now reside within the academy's local network (LAN/Funen Art Academy) behind the walls of Jernbanegade 13, in the company of the academy's other connected devices such as phones, computers, printers and the users behind them. From the local network (LAN/Funen Art Academy) you are routed further to the ursuppe server (172.16.1.11), which is located inside the medicine cabinet mounted on the wall in the academy's sculpture hall. You are now behind the misty glass of the medicine cabinet, surrounded by its empty vials and shelves.<br/><br/></p>

<h4>Purpose<br/><br/></h4>
<p>* ursuppe.dk is an open source web application written to solve a specific issue. Its purpose is to reclaim the dissemination of press material from the established contemporary arts‡ media in Denmark and put control in the hands of the artists themselves. As a visitor, you can access ursuppe.dk anywhere, mind you, when the institution's electricity is switched on. Here you will find an archive of exhibitions and an exhibition calendar with an integrated map.<br/><br/></p>

<p>‡ When someone you love is sick, you do what you can to help them thrive.<br/><br/></p>

<p>Last edited Sat April 13 17:12:13 2024</p>

</div>
            <div class="col-1"></div>

    </body>
</html>

