<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
             Text  | ursuppe
        </title>

        <meta name="viewport" content="width=device-width, initial-scale=1" />



	<meta http-equiv="refresh" content="120; URL=/text-solidarity">


        <link rel="stylesheet" type="text/css" href="/static/css/chota.css">
        <link rel="stylesheet" type="text/css" href="/static/css/primordialsoup.css">


        <link rel="shortcut icon" type="image/png" href="/static/image/favicon.png"/>
    </head>

    <body>
        <div class="row content">
            <div class="col-12">
                <br>
            </div>
        </div>
        <center>
            <img style="width: 85%; margin-top:0px; margin-bottom: 30px;" class="text-center is-center" src="/static/image/bitmaphigh-line.png" />
            <p>fig. 1 diagram</p>
        </center>
        <div class="row content">
            <div class="col-1"></div>
            <div class="col-10" style="font-size: 13px;">
                <br/><br/>
<h4><i>When someone you love is sick you do what you can to help them thrive</i></h4>
<br/>
<h2>Network</h2>
<br/>
<p style="font-size: larger;">The diagram (fig. 1) depicts the reconfigured computer network of the Funen Art Academy, which is acting as a temporary data center.</p>
<br/>
<p style="font-size: larger;">To access the web application ursuppe.dk (5.186.82.172), you can use your device from any location (WAN/world). From there you will be routed into the academy's computer network (LAN/Funen Art Academy) behind the walls of Jernbanegade 13. From the local network (LAN/Funen Art Academy) you are routed further to the ursuppe server (172.16.1.11), which is located within the medicine cabinet mounted on the wall in the academy's sculpture hall. You are now behind the frosted glass of the medicine cabinet along with its empty vials and shelves.</p>
<br/>
<h2>Purpose</h2>    
<br/>
<p style="font-size: larger;">ursuppe.dk is a web application that contains an archive of contemporary arts activities such as exhibitions, along with an events calendar featuring an interactive map. It's organised as a worker-owned cooperative, and the web application is open source. It is written to solve a particular issue.</p>
<br/>
<p style="font-size: larger;">Its purpose is to reclaim the distribution of press material from the established contemporary arts media in Denmark and put control in the hands of the artists themselves. As a visitor, you can access ursuppe.dk anywhere, mind you, when the institution's physical infrastructure allows it.</p>
<br/>
<p style="font-size: larger;"><i>Last edited Sat April 22 17:05:02 2024</i></p>


</div>
            <div class="col-1"></div>

    </body>
</html>

