/* Variables */
:root {
  --bg-color: #c4cf6a; /* #c4cf6a; #badc58; */
  --bg-secondary-color: #f3f3f6;
  --color-primary: black;
  --color-secondary: green;
  --color-lightGrey: black;
  --color-grey: #747681;
  --color-darkGrey: #3f4144;
  --color-error: #d43939;
  --color-success: #000;
  --grid-maxWidth: 120rem;
  --grid-gutter: 2rem;
  --font-size: 1.6rem;
  --font-color: #333333;
  --font-family-sans: sans-serif;
  --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
}

/* general */

html {
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0 0;
    padding: 0 0;
    color: #231f20;
    font-family: 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
    line-height: 1.25;
}

hr {
  border: 1px solid #000;
  width: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
    padding: 0;
    margin: 0;
    font-weight: 400;
}

a {
  color: #000;
}

a:hover {
  color: var(--color-primary);
}

svg:not(:root) {
    overflow: hidden;
}

/* header */

header {
  padding: 25px 25px 0px 25px;
}

header img.logo {

}

img.stars {
    width: 40px;
}

/* nav */

nav {
  padding: 0 35px;
}

nav a {
  position: relative;
  font-size: 3rem;
  padding: 5px 20px 5px 0;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

/* content */

div.content {
    padding: 0px 25px 15px 25px;
}

/* footer */

footer {
  padding: 0 25px;
}

/* form */

form {
    flex: 1 0 auto;
}

form p {
    margin-bottom: 20px;
}

input:not([type=checkbox],[type=radio],[type=submit],[type=color],[type=button],[type=reset]), select, textarea, textarea[type=text] {
    border: 1px solid #000;
    border-radius: 0px;
    /* margin-bottom: 20px; */
    width: 100% !important;
}

input:hover, select:hover, textarea:hover, textarea[type=text]:hover {
    border: 1px solid #000;
    border-radius: 0px;
    width: 100% !important;
}

span.helptext {
    font-size: smaller;
}

label {

}

.button, [type=button], [type=reset], [type=submit], button {
    width: 100% !important;
    background: var(--color-primary);
    border: 1px solid transparent;
    border-radius: 0px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: var(--font-size);
    line-height: 1;
    padding: 1rem 2.5rem;
    text-align: center;
    text-decoration: none;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
}

::-webkit-file-upload-button {
    background: var(--color-primary);
    border: 1px solid transparent;
    border-radius: 0px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: var(--font-size);
    line-height: 1;
    padding: 1rem 2.5rem;
    margin: 0 25px 0 0;
    text-align: center;
    text-decoration: none;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease; 
}

button.btn-submit {
    padding: 2rem 3.5rem;
}

#imageFieldsContainer input {
    margin-bottom: 20px;
}

/* list */

.image-container {
    margin-top: 25px;
}

img.submission-image-list {
    width: 100%;
    height: 60rem;
    object-fit: cover;
    object-position: center center;
}

img.submission-image-list:hover {

}

div.events-list-card {
    position: relative;
    border: 2px solid black;
    margin: 0 20px 20px 20px;
    padding: 20px 10px 10px 10px;
}

div.events-detail-card {
    position: relative;
    border: 2px solid black;
    margin: 0 20px 20px 20px;
    padding: 10px 10px 10px 10px;
}

@media only screen and (max-width: 599px) {
    div.events-list-card {
        text-align: center;
    }

    div.events-list-card div.text-right {
        text-align: center;
    }

    div.events-detail-card {
        text-align: center;
    }

    div.events-detail-card div.text-right {
        text-align: center;
    }
}


img.event-submission-image-list {
    z-index: 1;
    display: none;

    opacity: 0.8;

    position: fixed;
    top: 15%; 
    left: 35%;

    width: 30%;
}

a.event_project_title_link {
    position: relative;
    z-index: 99;
}

a.event_project_title_link>img { display: none; }
a.event_project_title_link:hover>img { display: block; }

h2.event_project_title:hover img.event-submission-image-list {
    display: block;
}

/* detail */

div.submission-image-detail-wrapper {

}

@media only screen and (min-width: 1028px) {
    img.submission-image-detail {
        max-width: 80%;
        max-height: 900px;
        object-fit: contain;
    }
}

.submission-description {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.submission-image-caption {
    font-size: small;
}

.card {
    font-size: larger;
    background: var(--bg-color);
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 1rem 2rem;
    margin: 0 0 25px 0;
    border: 1px solid #000;
    border-radius: 0px;
    /* margin-bottom: 20px; */
    width: 100% !important;
}

/* highlight index */

div.events-highlight {

}

div.events-highlight-card {
    position: relative;
    border: 2px solid black;
    margin-bottom: 15px;
    padding: 20px;
}

div.events-highlight-card img.stars {
    position: absolute;
    width: 40px;
    top: 15px;
    right: 15px;
}

/* soup animation */

@media only screen and (max-width: 1028px) {
    .rain-body{
        overflow: hidden;
    }
}

.rain-body{
    height: 300px;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: none;
}

.rain-container{
    width: 100%;
    height: 100%;
    min-width: 600px;
    max-width: 800px;
    max-height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.rain-row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rain{
    position: relative;
    width: 100%;
    height: 100%;
}

.rain:nth-of-type(1){
    --duration: 2.7s;
    --delay: 1s;
    transform: translate(10%, 10%) scale(0.9);
}

.rain:nth-of-type(2){
    --duration: 2.1s;
    --delay: 1.2s;
    transform: translate(-20%, 40%) scale(1.3);
}

.rain:nth-of-type(3){
    --duration: 2.3s;
    --delay: 2s;
    transform: translate(0%, 50%) scale(1.1);
}

.rain:nth-of-type(4){
    --duration: 2s;
    --delay: 4s;
    transform: translate(0%, -10%) scale(1.2);
}

.rain:nth-of-type(5){
    --duration: 2.5s;
    --delay: 0s;
    transform: translate(10%, 0%) scale(0.9);
}

.rain:nth-of-type(6){
    --duration: 2s;
    --delay: 2.7s;
    transform: translate(-20%, 0%) scale(1);
}

.rain:nth-of-type(7){
    --duration: 1.8s;
    --delay: 1.3s;
    transform: translate(20%, -40%) scale(1.2);
}

.rain:nth-of-type(8){
    --duration: 2.2s;
    --delay: 0s;
    transform: translate(20%, 0%) scale(1);
}

.rain:nth-of-type(9){
    --duration: 2s;
    --delay: 0.5s;
    transform: translate(0%, -10%) scale(1.3);
}

@keyframes fall{
    0%{
        transform: translateY(-120vh);
    }
    45%{
        transform: translateY(0%);
        opacity: 1;
    }
    46%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

.waves > div{
    position: absolute;
    top:0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 50%;
    border: solid #3D2020 0.1px;
    animation-name: spread;
    animation-duration: var(--duration);
    animation-delay: var(--delay);
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
}

.waves > div:nth-child(2){
    animation-delay: calc(var(--delay) + 0.3s);
    animation-timing-function: linear;
}

@keyframes spread{
    0%{
        transform: scale(0);
        opacity: 1;
    }
    40%{
        transform: scale(0);
        opacity: 1;
    }

    100%{
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes splash{
    0%{
        transform: scale(0.3, 0);
    }

    49%{
        transform: scale(0.3, 0);
    }

    50%{
        transform: scale(0.3, 0.3);
    }

    60%{
        transform: scale(0.7, 1);
    }

    90%{
        transform: scale(1, 0);
    }

    100%{
        transform: scale(1, 0);
    }
}

.particles > div{
    position: absolute; 
    border-radius: 100%;
    background-color: #3D2020;
    animation-duration: var(--duration);
    animation-delay: var(--delay);
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
}

.particles > div:nth-child(1){
    width: 7px;
    height: 7px;
    top: 50%;
    left: 50%;
    animation-name: jumpLeft;
}

.particles > div:nth-child(2){
    width: 5px;
    height: 5px;
    top: 30%;
    left: 50%;
    animation-name: jumpLeft;
    animation-delay: calc(var(--delay) + 0.1s);
}

.particles > div:nth-child(3){
    width: 3px;
    height: 3px;
    top: 20%;
    left: 70%;
    animation-name: jumpRight;
    animation-delay: calc(var(--delay) + 0.15s);
}

.particles > div:nth-child(4){
    width: 5px;
    height: 5px;
    top: 30%;
    left: 50%;
    animation-name: jumpRight;
    animation-delay: calc(var(--delay) + 0.3s);
}

@keyframes jumpLeft{
    0%{
        transform: translate(0,0) scale(0);
    }

    45%{
        transform: translate(0,0) scale(0);
    }

    60%{
        transform: translate(-50px, -90px) scale(1);
    }

    100%{
        transform: translate(-60px, 0px) scale(0.1);
    }
}

@keyframes jumpRight{
    0%{
        transform: translate(0,0) scale(0);
    }

    45%{
        transform: translate(0,0) scale(0);
    }

    60%{
        transform: translate(30px, -80px) scale(1);
    }

    100%{
        transform: translate(50px, 0px) scale(0.1);
    }
}