/* Variables */
:root {
  --bg-color: #c4cf6a;
  --bg-secondary-color: #e8ecc5;
  --color-primary: #000;
  --color-secondary: #000;
  --color-lightGrey: #000;
  --color-grey: #747681;
  --color-darkGrey: #000;
  --color-error: #d43939;
  --color-success: #000;
  --grid-maxWidth: 120rem;
  --grid-gutter: 2rem;
  --font-size: 1.6rem;
  --font-color: #333333;
  --btn-font-color: #fff;
  --list-img-border: 50%;
  --font-family-sans: sans-serif;
  --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
  --header-font: BasteleurMoonlight;
  --header-font-secondary: BasteleurBold;
  --date-color-scheme: light;
}

.dark {
  --bg-color: #736751;
  --bg-secondary-color: #392613;
  --color-primary: #fefede;
  --color-secondary: #fefede;
  --color-lightGrey: #000;
  --color-grey: #fefede;
  --color-darkGrey: #000;
  --color-error: #d43939;
  --color-success: #fefede;
  --grid-maxWidth: 120rem;
  --grid-gutter: 2rem;
  --font-size: 1.6rem;
  --font-color: #fefede;
  --btn-font-color: #000;
  --list-img-border: 50%;
  --font-family-sans: sans-serif;
  --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
  --header-font: BasteleurMoonlight;
  --header-font-secondary: BasteleurBold;
  --date-color-scheme: dark;
}

.origin {
  --bg-color: #f4f4f4;
  --bg-secondary-color: #ffffff;
  --color-primary: #000;
  --color-secondary: #43ff1c;
  --color-lightGrey: #000;
  --color-grey: #d8d6e8;
  --color-darkGrey: #000;
  --color-error: #d43939;
  --color-success: #000;
  --grid-maxWidth: 120rem;
  --grid-gutter: 2rem;
  --font-size: 1.6rem;
  --font-color: #333333;
  --btn-font-color: #fff;
  --list-img-border: 50%;
  --font-family-sans: sans-serif;
  --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
  --header-font: BasteleurMoonlight;
  --header-font-secondary: BasteleurBold;
  --date-color-scheme: light;
}

/* general */

html {
    box-sizing: border-box;
    min-height: 100% !important;
    height: 100%;
}

body {
    width: 100%;
    min-height: 100% !important;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
    line-height: 1.25;
}

@font-face {
    font-family: BasteleurMoonlight;
    src: url(/static/font/Basteleur-Moonlight.otf);
}

@font-face {
    font-family: BasteleurBold;
    src: url(/static/font/Basteleur-Bold.otf);
    font-weight: bold;
}

.row {
    overflow-x: hidden;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--color-primary);
  padding: 0;
  width: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--header-font);
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
    padding: 0;
    margin: 0;
    font-weight: 400;
}

a {
    color: var(--color-primary);
    transition: 0.1s;
}

a:hover {
    color: var(--color-secondary);
}

svg:not(:root) {
    overflow: hidden;
}

/* Wagtail pages, e.g. 'ABOUT' */

div.home h1,
div.home h2,
div.home h3,
div.home h4,
div.home h5 {
    line-height: 1.2em;
    margin-bottom: 0.3em;
    margin-top: 1em;        
}

div.home p {
    margin-bottom: 0.8em;
    line-height: 1.5em;
}

div.home a {
    text-decoration: underline;
}

div.home h2:first-child {
    margin-top: 10px;
}

div.home li {
    line-height: 23px;
}

div.home hr {
    width: 110%;
    margin: auto -30px;
}

/* mobile and desktop sections */

div.desktop-nav-section {
    display: none;
    float: left;
    width: 24%;
    height: 100%;
    position: fixed;
    border-right: solid 1px var(--color-primary);
}

div.desktop-nav-section .rain-body { 
    margin-top: 25px;
    margin-bottom: 25px;
    height: 120px;
    width: 100%;
}

div.desktop-nav-section .rain-container {
    width: 80%;
    min-width: 80px;
}

div.desktop-nav-section .particles {
    display: none;
}

div.desktop-nav-section p.header-text {
    margin: 15px 15px 25px 15px;
    font-size: smaller;
}

div.desktop-nav-section ul {
    border-bottom: solid 1px var(--color-primary);
    margin: 15px 0px 15px 0px;
    padding: 0 45px 0 15px;
}

div.desktop-nav-section ul li {
    list-style: none;
    font-size: smaller;
}

div.desktop-nav-section .mode-btn {
    position: relative;
    left: 15px;
}

div.desktop-nav-section div.search {
    width: 90%;
    position: absolute; 
    bottom: 15px;
    left: 15px;
}

div.main-section {
    width: 76%;
    float: right;
}

/* tablet landscape breakpoint 961px */
@media only screen and (min-width: 961px) {
    div.mobile-top-section {
        display: none;
    }

    div.desktop-nav-section {
        display: block;
    }

    div.desktop-footer-nav-section {
        display: none;
    }
}

@media only screen and (max-width: 961px) {
    div.main-section {
        width: 100%;
    }
}


/* header */

header {
  position: relative;
  padding: 25px 25px 0px 25px;
}

@media only screen and (max-width: 599px) {
    header .header-text {
        font-size: 1.2em;
        text-align: center;
    }
}

@media only screen and (min-width: 599px) {
    header .header-text {
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 599px) {
    .mode-btn {
        position: absolute;
        right: 35px;
        bottom: 10px;
    }
}

/* nav */

nav.nav-map {
    position: relative;
}

nav.main {
  padding: 0 25px;
}

nav.main div.link {
    font-family: var(--header-font);
    font-size: 2rem;
    padding: 12px 0 10px 0;
    color: var(--color-primary);
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 0px;
}

@media only screen and (max-width: 599px) {
    nav.main div.link {
      flex: auto;
    }
}

/* map button */
div.map-circle {
    position: absolute;
    top: 31px;
    left: 47%;
    height: 50px;
    width: 70px;
    border-radius: 50%;
    border: 1px solid var(--color-primary);
    background: var(--bg-color);
    z-index: 999999;
    /* rotate: 30deg; */

}

div.map-circle span {
    position: absolute;
    top: 17px;
    left: 21px;
    font-size: 12px;
}

@media only screen and (max-width: 599px) {
    div.map-circle {
        top: 38px;
        left: 43%;
    }
}

@media only screen and (max-width: 435px) {
    div.map-circle {
        top: 38px;
        left: 40%;
    }
}


nav.footer {
  padding: 0 35px;
}

nav.footer a {
    font-family: var(--header-font);
    position: relative;
    font-size: 2rem;
    padding: 12px 20px 9px 0;
    color: var(--color-primary);
    text-decoration: none;
    text-transform: uppercase;
}

/* tab */

nav.tabs:last-child {
    margin-bottom: 15px;
    padding-bottom: 10px;
}

@media only screen and (max-width: 599px) {
    nav.tabs {
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        scrollbar-color: var(--color-primary) var(--bg-color);
        scrollbar-width: thin;
    }

    nav.tabs > a {
        padding: 1rem 1rem;
    }

    nav.tabs::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    nav.tabs::-webkit-scrollbar-thumb {
        background-color: var(--color-primary);
    }

    nav.tabs::-webkit-scrollbar-track {
        background-color: var(--bg-color);
    }
}

nav.tabs a {
    color: var(--color-primary);
    border-bottom: 1px solid var(--color-primary);
    border-top: 1px solid var(--color-primary);
    border-right: 1px solid var(--color-primary);
    transition: 0.1s;
}

nav.tabs a:last-child {
    border-right: none;
}

@media only screen and (max-width: 599px) {
    nav.tabs a {
        font-size: smaller;
    }
}

nav.tabs a.active {
    border-bottom: 3px solid var(--color-primary);
}

nav.tabs a:hover {
    border-bottom: 3px solid var(--color-primary);
}

nav.tabs-last a {
    border-top: 0;
}

nav.tabs-last a:hover {
    border-top: 0;
}

nav.tabs-last a.active {
    border-top: 0;
}

/* content */

div.content:first-child {
    padding-top: 5px;
}

div.content {
    padding: 0px 25px 15px 25px;
}

/* footer */

footer {
  padding: 0 25px;
}

/* form */

form {
    flex: 1 0 auto;
}

form p {
    margin-bottom: 20px;
}

[type="date"]::-webkit-calendar-picker-indicator {
    color-scheme: var(--date-color-scheme);
}

input:not([type=checkbox],[type=radio],[type=submit],[type=color],[type=button],[type=reset]), select, textarea, textarea[type=text] {
    background: var(--bg-secondary-color);
    border: 1px solid var(--font-color);
    color: var(--font-color);
    border-radius: 0px;
    /* margin-bottom: 20px; */
}

input:hover, select:hover, textarea:hover, textarea[type=text]:hover {
    border: 1px solid var(--font-color);
    border-radius: 0px;
}

span.helptext {
    font-size: smaller;
}

.button, [type=button], [type=reset], [type=submit], button {
    background: var(--color-primary);
    border: 1px solid var(--font-color);
    border-radius: 0px;
    color: var(--btn-font-color);
    cursor: pointer;
    display: inline-block;
    font-size: var(--font-size);
    line-height: 1;
    padding: 1rem 2.5rem;
    text-align: center;
    text-decoration: none;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
}

::-webkit-file-upload-button {
    background: var(--color-primary);
    border: 1px solid transparent;
    border-radius: 0px;
    color: var(--btn-font-color);
    cursor: pointer;
    display: inline-block;
    font-size: var(--font-size);
    line-height: 1;
    padding: 1rem 2.5rem;
    margin: 0 25px 0 0;
    text-align: center;
    text-decoration: none;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease; 
}

button.btn-submit {
    padding: 2rem 3.5rem;
}

#imageFieldsContainer input {
    margin-bottom: 20px;
}

/* list */

.archive-image-container {
    margin-top: 25px;
}

img.archive-submission-image-list {
    width: 100%;
    height: 50rem;
    object-fit: cover;
    object-position: center center;
    border-radius: var(--list-img-border);
    margin-top: 15px;
    margin-bottom: 5px;
}

.archive-submission-image-text {
    text-align: center;
    margin-bottom: 15px;
}

@media only screen and (max-width: 599px) {
    .subscribe-text {
        text-align: center;
        font-size: small;
        margin-top: 15px;
    }
}

div.events-list-card {
    position: relative;
    margin: 25px 20px 20px 20px;
    padding: 20px 10px 10px 10px;
}

div.events-detail-card {
    position: relative;
    margin: 0 20px 20px 20px;
    padding: 10px 10px 10px 10px;
}

div.events-list-card p {
    white-space: pre-wrap;
}

div.events-detail-card p {
    white-space: pre-wrap;
}

/*
@media only screen and (max-width: 599px) {
    div.events-list-card {
        text-align: center;
    }

    div.events-list-card div.text-right {
        text-align: center;
    }

    div.events-detail-card {
        text-align: center;
    }

    div.events-detail-card div.text-right {
        text-align: center;
    }
}
*/

img.event-submission-image-list {
    z-index: -99;
    display: none;

    opacity: 0.9;

    position: fixed;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 35%;
    border-radius: var(--list-img-border);
}

@media only screen and (min-width: 961px) {
    img.event-submission-image-list {
        z-index: -99;
        display: none;

        opacity: 0.9;

        position: fixed;
        top: 63%; 
        left: 64%;
        transform: translate(-63%, -64%);
        -webkit-transform: translate(-63%, -64%);
        width: 35%;
        border-radius: var(--list-img-border);
    }
}

a.event-project-title-link {
    position: relative;
    z-index: 99;
}

a.event-project-title-link:hover~img.event-submission-image-list { display: block; }

/* detail */

.submission-image-detail-cover {
    width: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: var(--list-img-border);
}

@media only screen and (min-width: 1028px) {
    img.submission-image-detail {
        max-width: 100%;
        max-height: 800px;
        object-fit: contain;
    }
}

.submission-description {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.submission-image-caption {
    font-size: small;
}

.card {
    font-size: larger;
    color: var(--color-primary);
    background: var(--bg-color);
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 20px;
    margin: 10px 5px 25px 5px;
    border: 1px solid var(--color-primary);
    border-radius: 0px;
    /* margin-bottom: 20px; */
    width: 100% !important;
}

/* ADD MORE CSS HERE */

/* leaflet map */
#map { 
    height: 540px;
    width: 100%;
    position: relative;
    z-index: 0;
}

.map-event-detail {
    margin-bottom: -10px;
}

/* leaflet map marker */
div.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--bg-color);
    border: solid 1px var(--color-primary);
}

div.circle p {
    text-align: center;
    color: var(--color-primary);
    line-height: 40px;
    font-size: 20px;
    font-weight: 300;
}

/* leaflet map popup */
.leaflet-popup-content-wrapper {
    border-radius: 50%;
    font-size: 12px;
    width: 200px;
    box-shadow: 0 0px 0px rgba(0,0,0,0);
    background: transparent;
}

.leaflet-popup-content,
.leaflet-popup.leaflet-zoom-animated {
    padding: 0;
    margin: 0;
    pointer-events: none;
}

.leaflet-popup-tip, 
.leaflet-popup-close-button, 
.leaflet-container a.leaflet-popup-close-button {
    display: none;
}

#event-details-placeholder {
    text-align: center; 
    vertical-align: middle;
    min-height: 300px; 
}

/* leaflet map layers control */
.leaflet-touch .leaflet-control-layers, 
.leaflet-touch .leaflet-bar {
    border: 1px solid var(--color-primary);
    border-radius: 3px;
    background-clip: unset;
    cursor: pointer;
}

.leaflet-control-layers-expanded {
    color: var(--color-primary);
    background: var(--bg-color);
}

.leaflet-container {
    font-family: var(--font-family-sans);
    font-size: small;
}

/* checkboxes (stars) */
.leaflet-control-layers-overlays {
    align-items: center;    
}

.leaflet-control-layers-overlays label {
    cursor: pointer;
}

.leaflet-control-layers-overlays .leaflet-control-layers-selector {
    cursor: pointer;
    opacity: 0; 
    position: absolute;
    z-index: -1;
}

.leaflet-control-layers-overlays label span span:before {
    display: inline-block;
    vertical-align: middle;
    content: "\2726";
    color: var(--color-primary);
    font-size: 1.4em;
    margin: 0 5px 0px 2px;
}

.leaflet-control-layers-overlays label {
    margin: 0 4px -2px 5px;
}

.leaflet-control-layers-overlays span:hover:before,
.leaflet-control-layers-overlays .leaflet-control-layers-selector:hover + span:before { 
    background: var(--bg-color);
}

.leaflet-control-layers-overlays .leaflet-control-layers-selector:not(:checked) + span:before { 
    background: var(--bg-color);
    content: "\2727";
}

/* leaflet map attribution */
.leaflet-touch .leaflet-control-attribution {
    font-size: x-small;
}

/* leaflet map zoom buttons */
.leaflet-touch .leaflet-bar a {
    background: var(--bg-color);
    color: var(--color-primary);
    font-family: var(--header-font-secondary);
    line-height: 35px;
}

/* leaflet map 'view all markers button */
div.leaflet-bar.leaflet-control a.leaflet-view-all {
    width: 30px;
}

div.leaflet-bar.leaflet-control a.leaflet-view-all a {
    position: relative; 
    background: transparent;
    font-size: 24px;
}

@media only screen and (max-width: 599px) {
    div.leaflet-bar.leaflet-control a.leaflet-view-all a {
        top: 1px;
    }
}


/* custom hr for map page */
hr.map {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--color-primary);
    padding: 0;
    width: 100%;
    margin: 0px auto 10px;
}

hr.map-event-detail-top {
    margin: 0;
}

/* highlight index */

img.submission-image-highlight-list {
    width: 100%;
    height: 53rem;
    object-fit: cover;
    object-position: center center;
    border-radius: var(--list-img-border);
    margin-top: 10px;
}

span.highlight-events-index-row-card {
  display: inline-block;
  position: relative;
  flex-basis: 30rem;
  flex-grow: 0;
  flex-shrink: 0;
  border: 1px solid var(--color-primary);
  margin: 0px 15px 15px 0;
  padding: 20px;
  white-space: initial;
}

span.highlight-events-index-row-card:first-child {
    margin-left: 25px;
}

span.highlight-events-index-row-card:last-child {
    margin-right: 25px;
}

span.event-status-label {
    background-color: var(--bg-color);
    position: absolute;
    top: -16px;
    right: -10px;
    padding: 7.5px;
    border-radius: 50%;
    border: 1px solid var(--color-primary);
    font-size: smaller;
}

span.event-detail-status-label {
    background-color: var(--bg-color);
    position: absolute;
    bottom: 15px;
    right: 25px;
    padding: 7.5px;
    border-radius: 50%;
    border: 1px solid var(--color-primary);
    font-size: smaller;
}

div.scroll-container {
        overflow-x: scroll;
        scrollbar-color: var(--color-primary) var(--bg-color);
        scrollbar-width: thin;
}

div.scroll-container::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

div.scroll-container::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
}

div.scroll-container::-webkit-scrollbar-track {
    background-color: var(--bg-color);
}

.slide-arrows-container {
    position: absolute;
    top: 0;
    right: 35px;
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.slide-arrows {
    font-family: var(--header-font);
    font-size: 35px;
    cursor: pointer;
}

div.events-index-row {
    position: relative;
    display: flex;
    align-items: initial;
    white-space: nowrap;
    padding-top: 15px;

}

div.index-row-header {
    position: relative;
    padding-bottom: 0;
}

div.index-row-header-col {
    position: relative;
    margin-bottom: 5px;
}

span.events-index-row-card {
    display: inline-block;
    position: relative;
    border: 1px solid var(--color-primary);
    margin: 0px 15px 15px 0;
    padding: 20px;
}

span.events-index-row-card:first-child {
    margin-left: 25px;
}

span.events-index-row-card:last-child {
    margin-right: 25px;
}

img.event-submission-image-list-highlight {
    object-fit: cover;
    object-position: center center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: -99;
    display: none;
}

a.event-project-title-link:hover~img.event-submission-image-list-highlight { display: block; }

.image-container {
    margin-top: 25px;
}

.image-container-list {
    display: none;
}

.image-container-list.active {
    display: block;
}

img.submission-image-list {
    width: 100%;
    height: 60rem;
    object-fit: cover;
    object-position: center center;
    border-radius: var(--list-img-border);
    margin-top: 10px;
}

nav a.tab-link:hover b {
    color: var(--color-secondary);
}

@media only screen and (max-width: 599px) {
    .submission-image-text {
        width: 30rem;
        top: unset;
        right: unset;
        bottom: -12px;
        left: 50%;
        transform: translateX(-50%);
        border: none;
    }
}

/* pinboard */

div.pinboard-post-card {
    position: relative;
    border: 1px solid var(--color-primary);
    margin-bottom: 15px;
    padding: 20px;
}

div.pinboard-post-card h3 {
    font-size: 1.1em;
}

small.posted {
    position:absolute;
    top: 20px;
    right: 20px;
}

/* soup animation */

@media only screen and (max-width: 1028px) {
    .rain-body{
        overflow: hidden;
    }
}

.rain-body{
    height: 200px;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.rain-container{
    width: 100%;
    height: 100%;
    min-width: 600px;
    max-width: 800px;
    max-height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.rain-row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rain{
    position: relative;
    width: 100%;
    height: 100%;
}

.rain:nth-of-type(1){
    --duration: 2.7s;
    --delay: 1s;
    transform: translate(10%, 10%) scale(0.9);
}

.rain:nth-of-type(2){
    --duration: 2.1s;
    --delay: 1.2s;
    transform: translate(-20%, 40%) scale(1.3);
}

.rain:nth-of-type(3){
    --duration: 2.3s;
    --delay: 2s;
    transform: translate(0%, 50%) scale(1.1);
}

.rain:nth-of-type(4){
    --duration: 2s;
    --delay: 4s;
    transform: translate(0%, -10%) scale(1.2);
}

.rain:nth-of-type(5){
    --duration: 2.5s;
    --delay: 0s;
    transform: translate(10%, 0%) scale(0.9);
}

.rain:nth-of-type(6){
    --duration: 2s;
    --delay: 2.7s;
    transform: translate(-20%, 0%) scale(1);
}

.rain:nth-of-type(7){
    --duration: 1.8s;
    --delay: 1.3s;
    transform: translate(20%, -40%) scale(1.2);
}

.rain:nth-of-type(8){
    --duration: 2.2s;
    --delay: 0s;
    transform: translate(20%, 0%) scale(1);
}

.rain:nth-of-type(9){
    --duration: 2s;
    --delay: 0.5s;
    transform: translate(0%, -10%) scale(1.3);
}

@keyframes fall{
    0%{
        transform: translateY(-120vh);
    }
    45%{
        transform: translateY(0%);
        opacity: 1;
    }
    46%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

.waves > div{
    position: absolute;
    top:0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 50%;
    border: solid 0.1px var(--color-primary);
    animation-name: spread;
    animation-duration: var(--duration);
    animation-delay: var(--delay);
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
}

.waves > div:nth-child(2){
    animation-delay: calc(var(--delay) + 0.3s);
    animation-timing-function: linear;
}

@keyframes spread{
    0%{
        transform: scale(0);
        opacity: 1;
    }
    40%{
        transform: scale(0);
        opacity: 1;
    }

    100%{
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes splash{
    0%{
        transform: scale(0.3, 0);
    }

    49%{
        transform: scale(0.3, 0);
    }

    50%{
        transform: scale(0.3, 0.3);
    }

    60%{
        transform: scale(0.7, 1);
    }

    90%{
        transform: scale(1, 0);
    }

    100%{
        transform: scale(1, 0);
    }
}

.particles > div{
    position: absolute; 
    border-radius: 100%;
    background-color: var(--color-primary);
    animation-duration: var(--duration);
    animation-delay: var(--delay);
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
}

.particles > div:nth-child(1){
    width: 7px;
    height: 7px;
    top: 50%;
    left: 50%;
    animation-name: jumpLeft;
}

.particles > div:nth-child(2){
    width: 5px;
    height: 5px;
    top: 30%;
    left: 50%;
    animation-name: jumpLeft;
    animation-delay: calc(var(--delay) + 0.1s);
}

.particles > div:nth-child(3){
    width: 3px;
    height: 3px;
    top: 20%;
    left: 70%;
    animation-name: jumpRight;
    animation-delay: calc(var(--delay) + 0.15s);
}

.particles > div:nth-child(4){
    width: 5px;
    height: 5px;
    top: 30%;
    left: 50%;
    animation-name: jumpRight;
    animation-delay: calc(var(--delay) + 0.3s);
}

@keyframes jumpLeft{
    0%{
        transform: translate(0,0) scale(0);
    }

    45%{
        transform: translate(0,0) scale(0);
    }

    60%{
        transform: translate(-50px, -90px) scale(1);
    }

    100%{
        transform: translate(-60px, 0px) scale(0.1);
    }
}

@keyframes jumpRight{
    0%{
        transform: translate(0,0) scale(0);
    }

    45%{
        transform: translate(0,0) scale(0);
    }

    60%{
        transform: translate(30px, -80px) scale(1);
    }

    100%{
        transform: translate(50px, 0px) scale(0.1);
    }
}
