8{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}

<div class="row content">
    <div class="col-12">
    <h5><b>SEARCH</b></h5><br/>
    <form action="{% url 'search' %}" method="get">
        <input type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %} autofocus>
        <br/>
        <!-- <input type="submit" value="Search ursuppe" class="button-submit"> -->
        <button type="submit" class="btn-submit button-submit">Search {{ settings.SITE_NAME }}</button>
    </form>    
    </div>
</div>

{% if archive_results %}
<div class="row content">
    <div class="col-12">
        <h5><b>ARCHIVE(S) WAS FOUND</b></h5><br/>
    </div>
    {% for submission in archive_results %}
    <div class="col-4">
    <a href="{% url 'exhibition_submission_detail' submission_id=submission.id submission_project_title=submission.slug %}">
        <div class="image-container-list">
            {% for image in submission.images.all %}
                {% if image.cover_image %} 
                <img class="submission-image-list" src="{{ image.image.url }}" alt="{{ image.image.caption }}">
                {% endif %}
            {% endfor %}
        </div>
        <small>
            <b>{{ submission.project_title }}</b>, {{ submission.artists }}. {{ submission.exhibition_opening }}.
        </small>
    </a>
    </div>
    {% endfor %}
</div>
{% endif %}

{% if archive_results and events_results %} <hr/><br/> {% endif %}

{% if events_results %}
<div class="row content">
    <div class="col-12">
        <h5><b>EVENT(S) WAS FOUND</b></h5>
    </div>
</div>
    {% for submission in events_results %}
    <div class="row content events-list-card">
        <div class="col-4 ">
            <p>{{ submission.artists }}</p>
            <a class="event-project-title-link" href="{% url 'event_detail' event_id=submission.id event_project_title=submission.slug %}">
                <h2 class="text-uppercase is-large event_project_title">{{ submission.project_title }}</h2>
            </a>
            <img class="event-submission-image-list" src="{{ submission.images.all.0.image.url }}" alt="{{ submission.images.all.0.image.caption }}">
            <br/>
            <p>Curated by {{ submission.curators }}</p>
            <br/>
            <p><small>{{ submission.event_type }}</small></p>
        </div>
        <div class="col-4">
            <h4>{{ submission.exhibition_opening }} – {{ submission.exhibition_end }}</h4>
            <br/>
            <p>Weekly opening hours:</p>
            <p>{{ submission.opening_hours }}</p>
            <br/>
            <h4>Opening/vernissage: {{ submission.opening }}</h4>
            <br/>
            <p>Opening hours for opening/vernissage:</p>
            <p>{{ submission.opening_hours_for_opening_date }}</p>
        </div>
        <div class="col-4">
            <h4>{{ submission.location }}</h4>
            <p>{{ submission.location_address }}</p>
            <br/>
            <p><small><a href="{{ submission.link_to_location }}" target="_blank">{{ submission.link_to_location }}</a></small></p>
            <br/>
            <p><small>Admission:</small></p>
            <p><small>{{ submission.admission }}</small></p>
        </div>
    </div>
    {% if not forloop.last %}
    <hr/>
    {% endif %}
    {% endfor %}
{% endif %}

<!--
{% if search_results %}
<div class="col-12">
<ul>
    {% for result in search_results %}
    <li>
        <h4><a href="{% pageurl result %}">{{ result }}</a></h4>
        {% if result.search_description %}
        {{ result.search_description }}
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% if search_results.has_previous %}
<a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
{% endif %}

{% if search_results.has_next %}
<a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
{% endif %}
{% elif search_query %}
No results found
</div>
{% endif %}
-->

{% endblock %}
