{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}

<div class="row content">
    <div class="col-12">
    <h5><b>SEARCH</b></h5><br/>
    <form action="{% url 'search' %}" method="get">
        <input type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
        <br/>
        <!-- <input type="submit" value="Search ursuppe" class="button-submit"> -->
        <button type="submit" class="btn-submit button-submit">Search ursuppe</button>
    </form>    
    </div>
</div>

{% if archive_results %}
<div class="row content">
    <div class="col-12">
        <h5><b>ARCHIVE(S) WAS FOUND</b></h5><br/>
    </div>
    {% for submission in archive_results %}
    <div class="col-4">
    <a href="{% url 'exhibition_submission_detail' submission_id=submission.id submission_project_title=submission.slug %}">
        <!-- <p>Artists: {{ submission.artists }}</p>
        <p>Curators: {{ submission.curators }}</p>
        <p>Location: {{ submission.location }}</p>
        <p>Link to Location: <a href="{{ submission.link_to_location }}">{{ submission.link_to_location }}</a></p>
        <p>Exhibition Opening: {{ submission.exhibition_opening }}</p>
        <p>Exhibition End: {{ submission.exhibition_end }}</p>
        <p>Description: {{ submission.description }}</p>
        <p>Text Author: {{ submission.text_author }}</p>
        <p>Photographer: {{ submission.photographer }}</p>
        <p>Link to Video: <a href="{{ submission.link_to_video }}">{{ submission.link_to_video }}</a></p>
        <p>Social Media Info: {{ submission.social_media_info }}</p>
        <p>Email: {{ submission.email }}</p>
        <p>Consent to Collect Info: {{ submission.get_consent_to_collect_info_display }}</p>
        <p>Highlight: {{ submission.highlight }}</p> -->
        <!-- Add other fields as needed -->

        <!-- Display existing images for the exhibition -->
        <div class="image-container-list">
            <img class="submission-image-list" src="{{ submission.images.all.0.image.url }}" alt="{{ submission.images.all.0.image.caption }}">
        </div>
        <small>
            <b>{{ submission.project_title }}</b>, {{ submission.artists }}, <i>{{ submission.exhibition_opening }}</i> 
        </small>
    </a>
    </div>
    <br/>
{% endfor %}
</div>
{% endif %}

{% if archive_results and events_results %} <hr/><br/> {% endif %}

{% if events_results %}
<div class="row content">
    <div class="col-12">
        <h5><b>EVENT(S) WAS FOUND</b></h5><br/>
    </div>
    {% for submission in events_results %}
        <div class="col-4">
            <h4>{{ submission.location }}</h4>
            <p>{{ submission.location_address }}</p>
            <br/>
            <p><small><a href="{{ submission.link_to_location }}" target="_blank">{{ submission.link_to_location }}</a></small></p>
        </div>
        <div class="col-4 text-center">
            <p>{{ submission.artists }}</p>
            <a class="event_project_title_link" href="#">
                <h2 class="text-uppercase is-large event_project_title">{{ submission.project_title }}</h2>
                <img class="event-submission-image-list" src="{{ submission.images.all.0.image.url }}" alt="{{ submission.images.all.0.image.caption }}">
            </a>
            <br/>
            <p>Curated by {{ submission.curators }}</p>
            <br/>
            <p><small>{{ submission.event_type }}</small></p>
        </div>
        <div class="col-4 text-right">
            <h4>{{ submission.exhibition_opening }} – {{ submission.exhibition_end }}</h4>
            <br/>
            <p>Opening hours:</p>
            <p>{{ submission.opening_hours }}</p>
            <br/>
            <p><small>Admission:</small></p>
            <p><small>{{ submission.admission }}</small></p>
        </div>
    {% endfor %}
</div>
{% endif %}

<!--
{% if search_results %}
<div class="col-12">
<ul>
    {% for result in search_results %}
    <li>
        <h4><a href="{% pageurl result %}">{{ result }}</a></h4>
        {% if result.search_description %}
        {{ result.search_description }}
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% if search_results.has_previous %}
<a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
{% endif %}

{% if search_results.has_next %}
<a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
{% endif %}
{% elif search_query %}
No results found
</div>
{% endif %}
-->

{% endblock %}
