{% extends "base.html" %}
{% block title %} Artists {% endblock %}

{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

<div class="row content">
    <div class="col-12">
        <h5><b>ARTISTS</b></h5><br/>
        <p><small>This is a generated list in alphabetical order.</small></p><br/>

        {% for artist in list %}
        <a href="/search/?query={{ artist }}"><h3>{{ artist }}</h3></a>
        {% endfor %}
    </div>
</div>
{% endblock content %}

