{% extends "base.html" %}
{% block title %} Artists {% endblock %}

{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

<div class="row content">
    <div class="col-12">
        <h5><b>PHOTOGRAPHERS</b></h5><br/>
        {% if '/current' in request.path %}
        <p><small>This is a generated list from current and upcoming events in alphabetical order.</small></p><br/>
        {% else %}
        <p><small>This is a generated list from all events and archives in alphabetical order.</small></p><br/>
        {% endif %}
    </div>
</div>
<div class="row content">
    <div class="col-12">
        {% for photographer in list %}
        <a href="/search/?query={{ photographer }}"><small>{{ photographer.0 }}</small><h5>&emsp;&emsp;&emsp;&emsp;{{ photographer }}</h5></a>
        {% endfor %}
    </div>
</div>
{% endblock content %}

