<!-- ps_submission/templates/exhibition_submission_form.html -->
{% extends "base.html" %}
{% block title %} Submit Archive {% endblock %}

{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
<script>
  let imageFieldCounter = 1;
  
  // Function to update the value of the hidden input
  function updateTotalForms() {
        var totalFormsInput = document.getElementById("id_form-TOTAL_FORMS");

        // Get the current value and convert it to an integer
        var currentTotalForms = parseInt(totalFormsInput.value);

        // Increment the value by 1 for each click
        var newTotalForms = currentTotalForms + 1;

        // Update the value of the hidden input
        totalFormsInput.value = newTotalForms;

        // You may also want to dynamically add new image fields here if needed
        // For example, you can use JavaScript to clone an existing image field and append it to the container
    }

  function addImageField() {
    // Create label element
    const label = document.createElement("label");
    label.setAttribute("for", `id_form-${imageFieldCounter}-image`);
    label.textContent = `Image (${imageFieldCounter}):`;
  
    // Create input element (file type)
    const input = document.createElement("input");
    input.setAttribute("type", "file");
    input.setAttribute("name", `form-${imageFieldCounter}-image`);
    input.setAttribute("accept", "image/*");
    input.setAttribute("id", `id_form-${imageFieldCounter}-image`);
    input.setAttribute("required", 'true');
    input.setAttribute("class", 'image-class');
  
    // Create hidden input element for id
    const hiddenInput = document.createElement("input");
    hiddenInput.setAttribute("type", "hidden");
    hiddenInput.setAttribute("name", `form-${imageFieldCounter}-id`);
    hiddenInput.setAttribute("id", `id_form-${imageFieldCounter}-id`);
    
  
    // Append label, input, and hiddenInput to the container
    const container = document.getElementById("imageFieldsContainer");
    container.appendChild(label);
    container.appendChild(input);
    container.appendChild(hiddenInput);

    // <label for="id_form-0-caption">Caption:</label>
    // <input type="text" name="form-0-caption" maxlength="255" id="id_form-0-caption">

    // Create label element
    const labelCaption = document.createElement("label");
    labelCaption.setAttribute("for", `id_form-${imageFieldCounter}-caption`);
    labelCaption.textContent = `Caption (${imageFieldCounter}):`;

    // Create hidden input element for id
    const hiddenInputCaption = document.createElement("input");
    hiddenInputCaption.setAttribute("type", "text");
    hiddenInputCaption.setAttribute("name", `form-${imageFieldCounter}-caption`);
    hiddenInputCaption.setAttribute("id", `id_form-${imageFieldCounter}-caption`);
    hiddenInputCaption.setAttribute("maxlength", "255");
    hiddenInputCaption.setAttribute("required", "true");

    container.appendChild(labelCaption);
    container.appendChild(hiddenInputCaption);
  
    // Increment the counter for the next image field
    imageFieldCounter++;

    if (imageFieldCounter > 20) {
      var addButton = document.getElementById('addImageClick');
            addButton.style.display = 'none';
        } 

    updateTotalForms();
  }

  function getIdCount(pattern){
     // Select all elements whose ID matches the pattern
     var elements = document.querySelectorAll('[id^="' + pattern + '"]');
    
    // Return the count of matching elements
    return elements.length;
  }
  </script>
  <div class="row content">
    <div class="col-8">
      <h5><b>SUBMIT ARCHIVE</b></h5>
      <br/>
      <h5>If you would like to submit an activity for our archive please fill out our form below. Critera for submissions is that the activity has been held in Denmark or with artists whom resides in Denmark, that you have the rights to publish the activity, and that the activity is well-documented*. When you submit the activity, you accept the possibility of being featured on the index as a highlight chosen by our board of artist-moderators, as well as on our social media account.
    <br>
    <br>
    * Well-documented means:<br>
    - A minimum of 5 images and a maximum of 20 images.<br>
    - Images should have a minimum of 150 dpi and 2000px in width, and a maximum of 3 mb per image.<br>
    - Allowed image file extensions are: png, jpg, jpeg, webp.<br>
    - Remember to credit artist(s) and photographer(s) in captions. <br>
    <br>
  Please note, we do not have the capacity to correct errors, typos, rearrange images etc. after your submission has been published. If you find an error in your post, please re-submit, and we will delete the previous post.
    </h5>
  </div>
  <div class="col-4">
      <h5><b>DISCLAIMER</b></h5><br/>
      <h5>{{ settings.SITE_NAME }} does not tolerate any type of discriminatory content e.g., misogynistic, racist, homophobic, or transphobic content will be deleted without further notice. </h5><br/>
      <h5>{{ settings.SITE_NAME }} encourage anyone to contribute content regardless of background, education, class, gender, race, ethnicity, ability, and other sociopolitical markers.</h5>
  </div>

  <div class="col-12"><br/></div>

  <div class="col-12">
    <form method="post" enctype="multipart/form-data" class="exhibition-form">
      
      {% if errors %}
        <div class="error-message">
            <p>Please fix the following errors:</p>
            <ul>
                {% for field, error in errors.items %}
                 <li>{{ field }}: {{ error }}</li>    
                {% endfor %}
            </ul>
        </div>
      {% endif %}

      {% csrf_token %}
      {{ submission_form.as_p }}
      
      {{ formset.management_form }}
      Images:<br/><br/>
      <small>For image criteria please refer to the description of well-documented* above.</small><br/><br/>
      <!-- Image field container -->
      <div id="imageFieldsContainer">
        <!-- Initially, there are no image fields here -->
      </div>

      <!-- Button to add image field -->
      <button type="button" onclick="addImageField()" id="addImageClick">Add more images +</button>
      <br/><br/>
      <button type="submit" class="btn-submit">Submit archive</button>
    </form>
    
   </div>
 </div>

<script>
//  var errorList = document.querySelector('.errorlist');
//  // Check if errorlist element exists and contains the specified error message
//  if (!(errorList && errorList.innerHTML.includes('File size too large. Max size is 3 MB.'))) {
//     // Log "Hello World" to the console if the error message is found
//     // Initially, add 5 image fields
//     for (var i = 1; i <= 5; i++) {
//         addImageField();
//     }
//   }
//  var errorList = document.querySelector('.errorlist');
//  // Check if errorlist element exists and contains the specified error message
//  if (!(errorList && errorList.innerHTML.includes('File size too large. Max size is 3 MB.'))) {
//     // Log "Hello World" to the console if the error message is found
//     // Initially, add 5 image fields
    
//   }

  document.addEventListener('DOMContentLoaded', function() {
    var inputCount = document.querySelectorAll('.image-class').length;
    imageFieldCounter = inputCount+1;

    for (var i = 1; i <= 5; i++) {
        addImageField();
    }
    
  });
</script>
 
{% endblock content %}

