{% extends "base.html" %}
{% block title %} Archive {% endblock %}

{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

<div class="row content">
    <div class="col-12">
        <h5><b>ARCHIVE</b></h5><br/>
    </div>
    {% for submission in submissions %}
    <div class="col-4">
    <a href="{% url 'exhibition_submission_detail' submission_id=submission.id submission_project_title=submission.slug %}">
        <!-- <p>Artists: {{ submission.artists }}</p>
        <p>Curators: {{ submission.curators }}</p>
        <p>Location: {{ submission.location }}</p>
        <p>Link to Location: <a href="{{ submission.link_to_location }}">{{ submission.link_to_location }}</a></p>
        <p>Exhibition Opening: {{ submission.exhibition_opening }}</p>
        <p>Exhibition End: {{ submission.exhibition_end }}</p>
        <p>Description: {{ submission.description }}</p>
        <p>Text Author: {{ submission.text_author }}</p>
        <p>Photographer: {{ submission.photographer }}</p>
        <p>Link to Video: <a href="{{ submission.link_to_video }}">{{ submission.link_to_video }}</a></p>
        <p>Social Media Info: {{ submission.social_media_info }}</p>
        <p>Email: {{ submission.email }}</p>
        <p>Consent to Collect Info: {{ submission.get_consent_to_collect_info_display }}</p>
        <p>Highlight: {{ submission.highlight }}</p> -->
        <!-- Add other fields as needed -->

        <!-- Display existing images for the exhibition -->
        <div class="image-container-list">
            <img class="submission-image-list" src="{{ submission.images.all.0.image.url }}" alt="{{ submission.images.all.0.image.caption }}">
        </div>
        <small>
            <b>{{ submission.project_title }}</b>, {{ submission.artists }}. {{ submission.exhibition_opening }}.
        </small>
    </a>
    </div>
    {% endfor %}
</div>

{% endblock content %}

