{% extends "base.html" %}
{% block title %} Archive {% endblock %}

{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

<div class="row content">
    <div class="col-12">
        <h5><b>ARCHIVE</b></h5>
    </div>
</div>
<div>
    <nav class="tabs text-uppercase is-full">
        <!-- TODO: add highlighting -->
        <a class="{% if request.path == '/archive/' %}active{% endif %}"href="{% url 'exhibition_list' %}">All</a>
        {% for year in years reversed %}
        <a class="{% if year|lower in request.path %}active{% endif %}" href="{% url 'exhibition_list' %}{{ year }}">{{ year }}</a>
        {% endfor %}
    </nav>
</div>
{% if submissions %}
<div class="row content">
    {% for submission in submissions %}
    <div class="col-4 archive-submission-image-list-wrapper">
    <a href="{% url 'exhibition_submission_detail' submission_id=submission.id submission_project_title=submission.slug %}">
        <div class="archive-image-container-list">
            {% for image in submission.images.all %}
                {% if image.cover_image %} 
                <img class="archive-submission-image-list" src="{{ image.image.url }}" alt="{{ image.image.caption }}">
                {% endif %}
            {% endfor %}
        </div>
        <small class="archive-submission-image-text text-center">
            <b>{{ submission.project_title }}</b>, {{ submission.artists }}. {{ submission.exhibition_opening }}.
        </small>
    </a>
    </div>
    {% endfor %}
{% else %}
<div class="row content">
    <p>No archive(s). Try another sorting method.</p>
</div>
{% endif %}
</div>

{% endblock content %}

