<!-- ps_calendar/templates/exhibition_submission_form.html -->
{% extends "base.html" %}
{% block title %} Create Event {% endblock %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

<div class="row content">
  <div class="col-8">
      <h5><b>CREATE EVENT</b></h5>
      <br/>
      <h5>If you would like to create an event for our map please fill out our form below. Critera for submissions is that the event is being held in Denmark or with artists whom resides in Denmark, and that the information aligns with the IRL dates of the event. When you create the event, you accept the possibility of being featured on the index as a highlight chosen by our board of artist-moderators, as well as on our social media account.
    <br>
    </h5>
  </div>
  <div class="col-4">
      <h5><b>DISCLAIMER</b></h5><br/>
      <h5>{{ settings.SITE_NAME }} does not tolerate any type of discriminatory content e.g., misogynistic, racist, homophobic, or transphobic content will be deleted without further notice. </h5><br/>
      <h5>{{ settings.SITE_NAME }} encourage anyone to contribute content regardless of background, education, class, gender, race, ethnicity, ability, and other sociopolitical markers.</h5>
  </div>

  <div class="col-12"><br/></div>

  <div class="col-12">
    <form method="post" enctype="multipart/form-data" class="calendar-form">

      {% csrf_token %}
      {{ submission_form.as_p }}
      
      {{ formset.management_form }}
      {% for form in formset %}
        {{ form.as_table }}
        <br/>
      {% endfor %}

      <button type="submit" class="btn-submit">Create event</button>
    </form>
  </div>
</div>
{% endblock content %}
