{% extends "base.html" %}
{% block title %} Events {% endblock %}

{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

        <!-- leaflet.js stylesheet -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
        <link rel="stylesheet" href="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.css"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/MarkerCluster.css' %}">

{% endblock extra_css %}

{% block content %}
<div class="row content">
    <div class="col-6">
        <h5><b>EVENTS</b></h5>
    </div>
    <div class="col-6 subscribe-text text-right">
        <p><a href="{% url 'feed_information' %}"><b>Subscribe</b> to the events calendar feeds for automatic updates</a></p>
    </div>
</div>
<nav class="tabs text-uppercase is-full">
        <a href="{% url 'event_list' %}">list</a>
        <a class="active" href="{% url 'event_map' %}">map</a>
</nav>
<div class="row content">
    <div class="col-12">
        <button id="toggleButton">Toggle Current Events</button>
    </div>
</div>
<hr class="map" style="margin: 0;"/>
<!-- Leaflet map -->
<div id="map"></div>
<hr class="map"/>
<div id="event-details" style="display: none;"></div>
<div class="col-12" id="event-details-placeholder">
    <p>Click the dots on the map to explore current and upcoming events.</p>
</div>
{% endblock content %}

{% block extra_js %}
<!-- leaflet.js-->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<!-- local map.js -->
<script type="text/javascript" src="{% static 'js/leaflet.markercluster.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/leaflet.sleep.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/leaflet.featuregroup.subgroup.js' %}"></script>
<script type="text/javascript" src="{% static 'js/map.js' %}"></script> 
{% endblock %}