{% extends "base.html" %}
{% block title %} {{ event.project_title }} | Events {% endblock %}

{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
<div class="row content events-detail-card">
    <div class="col-12"></div>
    <div class="col-4">
        {% if event.exhibition_end < today %}
        <span class="event-detail-status-label">PAST</span>
        {% elif event.exhibition_end <= today_plus_2w %}
        <span class="event-detail-status-label">CLOSING SOON</span>
        {% elif event.exhibition_opening < today %}
        <span class="event-detail-status-label">CURRENT</span>
        {% elif event.exhibition_opening > today %}
        <span class="event-detail-status-label">UPCOMING</span>
        {% endif %}
        <p>{{ event.artists }}</p>
        <a class="event-project-title-link" href="{% url 'event_detail' event_id=event.id event_project_title=event.slug %}">
            <h2 class="text-uppercase is-large event_project_title">{{ event.project_title }}</h2>
        </a>
        <br/>
        <p>Curated by {{ event.curators }}</p>
        <br/>
        <p><small>{{ event.event_type }}</small></p>
    </div>
    <div class="col-4">
        <h4>{{ event.exhibition_opening }} → {{ event.exhibition_end }}</h4>
        <br/>
        <p>Weekly opening hours:</p>
        <p>{{ event.opening_hours }}</p>
        <br/>
        <h4>Opening/vernissage: {{ event.opening }}</h4>
        <br/>
        <p>Opening hours for opening/vernissage:</p>
        <p>{{ event.opening_hours_for_opening_date }}</p>
    </div>
    <div class="col-4">
        <h4>{{ event.location }}</h4>
        <p>{{ event.location_address }}</p>
        <br/>
        <p><small><a href="{{ event.link_to_location }}" target="_blank">{{ event.link_to_location }}</a></small></p>
        <br/>
        <p><small>Admission:</small></p>
        <p><small>{{ event.admission }}</small></p>
    </div>
</div>
<hr/>
<div class="col-12 text-center"> 

    <a id="downloadICS" href="#/"><b>Add to calendar (.ics)</b></a> or <a href="{% url 'feed_information' %}"><b>subscribe to feed</b></a>
</div>
<hr/>
<div class="row content">
    <div class="col-12"></div>
    <div class="col-6">
        <h5><b>IMAGE</b></h5>
        <br/>
        {% if event.images.all.0.image.url %} 
        <img class="is-full-width" src="{{ event.images.all.0.image.url }}" alt="{{ event.images.all.0.image.caption }}">
        <p><small>{{ event.images.all.0.caption }}</small></p>
        {% else %}
        <p>[no image]</p>
        {% endif %}
    </div>
    <div class="col-6">
        <h5><b>TEXT</b></h5>
        <br/>
        <h4>
        {{ event.description|linebreaksbr }}
        </h4>
    </div>    
</div>

<script>
/* ICS file generator */
document.getElementById('downloadICS').addEventListener('click', () => {
  createDownloadICSFile(
    'Europe/Copenhagen',
    new Date("{{ event.exhibition_opening }}"),
    new Date("{{ event.exhibition_end }}"),
    "{{ event.event_type }}: {{ event.project_title }}",
    "{{ event.event_type }} with {{ event.artists }} called {{ event.project_title }}. Opening/vernissage {{ event.opening }} at {{ event.opening_hours_for_opening_date }}.",
    "{{ event.location }}",
    "{{ event.location_address }}"
  );  
});
</script>
{% endblock content %}
