{% extends "base.html" %}

{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

<div class="row content">
    <div class="col-12">
        <h5><b>EVENTS</b></h5>
    </div>
</div>
{% for submission in event_submissions %}
<div class="row content">
    <div class="col-4">
        <h4>{{ submission.location }}</h4>
        <p>{{ submission.location_address }}</p>
        <br/>
        <p><small><a href="{{ submission.link_to_location }}" target="_blank">{{ submission.link_to_location }}</a></small></p>
    </div>
    <div class="col-4 text-center">
        <p>{{ submission.artists }}</p>
        <a class="event_project_title_link" href="#">
            <h2 class="text-uppercase is-large event_project_title">{{ submission.project_title }}</h2>
            <img class="event-submission-image-list" src="{{ submission.images.all.0.image.url }}" alt="{{ submission.images.all.0.image.caption }}">
        </a>
        <br/>
        <p>Curated by {{ submission.curators }}</p>
        <br/>
        <p><small>{{ submission.event_type }}</small></p>
    </div>
    <div class="col-4 text-right">
        <h4>{{ submission.exhibition_opening }} – {{ submission.exhibition_end }}</h4>
        <br/>
        <p>Opening hours:</p>
        <p>{{ submission.opening_hours }}</p>
        <br/>
        <p><small>Admission:</small></p>
        <p><small>{{ submission.admission }}</small></p>
    </div>
</div>
{% if forloop.last == 0 %}
   <hr/>
   <br/><br/>
{% endif %}
{% endfor %}

{% endblock content %}

