{% extends "base.html" %}
{% block title %} Events {% endblock %}

{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/leaflet.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/leaflet.markercluster.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="row content">
    <div class="col-4">
        <h5><b>EVENTS</b></h5>
    </div>
    <div class="col-8 subscribe-text text-right">
        <h5><a href="{% url 'feed_information' %}"><b>Subscribe</b> to the events calendar feeds for automatic updates</a></h5>
    </div>
</div> 
<nav class="tabs text-uppercase is-full">
        <a href="{% url 'event_list' %}">list</a>
        <a class="active" href="{% url 'event_map' %}">map</a>
</nav>
<!-- Leaflet map -->
<div id="map"></div>
<hr class="map"/>
<div id="event-details" style="display: none;"></div>
<div class="col-12" id="event-details-placeholder">
    <p>Click the dots on the map to explore events.</p>
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/leaflet.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/leaflet.markercluster.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/leaflet.sleep.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/leaflet.featuregroup.subgroup.js' %}"></script>
<script type="text/javascript" src="{% static 'js/map.js' %}"></script> 
{% endblock %}